body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #3498db;
}

p {
    color: #555;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 8px auto;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
}